#Python_pandas

In [ ]:
import pandas as pd

##task_1

In [ ]:
movi = pd.read_csv('movies.csv',)
movi[:10]

FileNotFoundError: ignored

In [ ]:
rating = pd.read_csv('ratings.csv')
rating[:5]

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [ ]:
merge_movi = movi.merge(rating,
                        left_on= 'movieId',
                        right_on = 'movieId'
                        )
merge_movi[:5]

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,4.0,1113765937
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,5.0,948885850
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.5,1442169375
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,4.0,1370810063
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22,4.0,1237622631

In [ ]:
from os import access
merge_movi.groupby('title').agg({'rating':['max','count']}).sort_values(['count'])[:1]

                                 rating
                                    max count
title
"Great Performances" Cats (1998)    5.0    39

##task_2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [ ]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [ ]:
power2=power[(power['year']>=2005)&(power['year']<=2010)&(power['quantity']>0)]

res=power2[power2.category.isin([4,12,21])]

res[res.country.str.contains('|'.join(['Latvia','Lithuania','Estonia']))]['quantity'].sum()

240580.0

In [ ]:
eu_sd,material,update,metal,oil,procent,stocks,update_2 = pd.read_html('https://fortrader.org/quotes')

In [ ]:
eu_sd.head()

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  78.94       0.38          0.48        NaN
1       USDRUB Курс рубля к доллару  74.05       0.49          0.67        NaN

In [ ]:
material[:5]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,83.38,-0.35,-0.42,NaN
1,Нефть WTI Цены на нефть WTI,76.66,-0.45,-0.58,NaN
2,Природный газ Цена на природный газ,2.18,-0.06,-2.68,NaN
3,Кофе,188.35,-1.50,-0.79,NaN
4,Кукуруза,681.20,3.60,0.53,NaN

In [ ]:
stocks[:5]

                    Название       Цена  Изменение  Изменение(%)  Обновлено
0  EUR/USD Евро / Доллар США    1.06575   -0.00245      -0.22936        NaN
1  GBP/USD Фунт / Доллар США    1.21085    0.00705       0.58565        NaN
2     USD/CHF Доллар / Франк    0.92481    0.00157       0.17005        NaN
3  USD/JPY Доллар США / Иена  134.86600    0.52700       0.39200        NaN
4      USD/CNH Доллар / Юань    6.88555    0.02755       0.40172        NaN