#Python_pandas

In [ ]:
import pandas as pd
import numpy as np

##task_1

In [ ]:
movi = pd.read_csv('movies.csv')
movi[:5]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
rating = pd.read_csv('ratings.csv')
rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
movi_rating = movi.merge(rating,left_on='movieId',right_on='movieId')
movi_rating.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091

In [ ]:
def classification(rating):
  if rating <= 2:
    return 'low rating'
  elif rating <=4:
    return 'medium rating'
  else:
    return 'high rating'

In [ ]:
movi_rating['class'] = movi_rating['rating'].apply(classification)

In [ ]:
movi_rating[:5]

,movieId,title,genres,userId,rating,timestamp,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703,medium rating
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179,medium rating
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058,high rating
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310,low rating
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091,medium rating

##task_2

In [ ]:
regon = pd.read_csv('keywords.csv')
regon[:10]

                      keyword     shows
0                          вк  64292779
1               одноклассники  63810309
2                       порно  41747114
3                        ютуб  39995567
4                   вконтакте  21014195
5  одноклассники моя страница  19976138
6                        майл  15144673
7                       авито  14786593
8                  переводчик  14453469
9                      яндекс  13344734

In [ ]:
regions = {'Центр': ['москва', 'тула', 'ярославль'],
             'Северо-Запад': ['петербург', 'псков', 'мурманск'],
             'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}
towns=[]
for values in regions.values():
    for i in values:
        towns.append(i)
towns

['москва',
 'тула',
 'ярославль',
 'петербург',
 'псков',
 'мурманск',
 'владивосток',
 'сахалин',
 'хабаровск']

In [ ]:
row='вконтакте моя страница москва'
data=row.split(' ')
def check(t):
    for i in t:
        if i in towns:
            for items in regions.items():
                if i in items[1]:
                    print(items[0])
check(data)

Центр

In [ ]:
def region(row):
    data=row['keyword'].split(' ')
    i=0
    for word in data:
        if word in towns:
            for items in regions.items():
                if word in items[1]:
                    i+=1
                    return items[0]
    if i==0:
        return 'undefined'

In [ ]:
regon['region'] = regon.apply(region,axis=1)
regon[:5]

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [ ]:
regon[(regon['region'] != 'undefined')][:50]

                                       keyword   shows          region
127                               авито москва  979292           Центр
370                   авито ру санкт петербург  425134    Северо-Запад
849                            авито ярославль  209581           Центр
1063                       фарпост владивосток  176951  Дальний Восток
1236                      банк санкт петербург  174375    Северо-Запад
1259                                    москва  153050           Центр
1346                           санкт петербург  144232    Северо-Запад
1396                           гисметео москва  140279           Центр
1482                          госуслуги москва  133061           Центр
1579                                авито тула  126168           Центр
1682                             погода москва  151701           Центр
2153                               авито псков   98931    Северо-Запад
2175                            дром хабаровск   98361  Дальний Восток
2398                            авито мурманск   89787    Северо-Запад
2550        банк санкт петербург интернет банк   89123    Северо-Запад
2806                  циан недвижимость москва   78729           Центр
2974                   авто ру санкт петербург   74918    Северо-Запад
3206                          дром владивосток   73084  Дальний Восток
3275                        100 сп владивосток   76418  Дальний Восток
3687                           авито хабаровск   63736  Дальний Восток
3786                              метро москва   68024           Центр
4888  перекресток акции москва каталог сегодня   48619           Центр
5013                         фк спартак москва   49699           Центр
5434                            авто ру москва   46991           Центр
5512                        схема метро москва   62915           Центр
5642                              погода псков   47395    Северо-Запад
5671                     avito санкт петербург   44214    Северо-Запад
5700    холодильник ру интернет магазин москва   44385           Центр
5768                            спартак москва   43656           Центр
5825  петрович санкт петербург каталог товаров   43280    Северо-Запад
5836               мфц москва официальный сайт   43534           Центр
5858                               владивосток   43038  Дальний Восток
5983                         москва третий рим   43182           Центр
6075                                 ярославль   41720           Центр
6093              авито москва авто с пробегом   74402           Центр
6260                         фарпост хабаровск   40962  Дальний Восток
6338                   индекс по адресу москва   41260           Центр
6425                слетать ру санкт петербург   39652    Северо-Запад
6644                      бандитский петербург   38766    Северо-Запад
6735                         мединфо ярославль   38436           Центр
6999                                 москва 24   37459           Центр
7090                        гисметео ярославль   37008           Центр
7103                               москва сити   37022           Центр
7339                    москва слезам не верит   35857           Центр
7412               госуслуги москва pgu mos ru   35611           Центр
7838    пятерочка акции москва каталог сегодня   35066           Центр
7881  авито ру санкт петербург авто с пробегом   33639    Северо-Запад
8132                             москва погода  151701           Центр
8150              hh ru работа санкт петербург   32742    Северо-Запад
8463                              время москва   39941           Центр

##task_3

In [ ]:
movi_rating[:10]

,movieId,title,genres,userId,rating,timestamp,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703,medium rating
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179,medium rating
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058,high rating
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310,low rating
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091,medium rating
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,20,3.5,1238729767,medium rating
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,23,3.0,1148729853,medium rating
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,26,5.0,1360087980,high rating
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,30,4.0,944943070,medium rating
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,37,4.0,981308121,medium rating

In [ ]:
years = np.arange(1950,2011)
years  #creat list with years

array([1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
       1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010])

In [ ]:
def production_year(title):
  
  for year in years:
    if str(year) in title:
      return year
  return 1900

In [ ]:
movi_rating['year'] = movi_rating['title'].apply(production_year)
movi_rating[100:110]

,movieId,title,genres,userId,rating,timestamp,class,year
100,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,284,3.0,853878868,medium rating,1995
101,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,285,4.0,965091874,medium rating,1995
102,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,287,5.0,1469161081,high rating,1995
103,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,292,4.0,1140049726,medium rating,1995
104,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,293,4.0,1064615574,medium rating,1995
105,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,294,4.0,1047071649,medium rating,1995
106,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,306,3.0,956083012,medium rating,1995
107,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,311,3.0,898007830,medium rating,1995
108,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,312,5.0,959933200,high rating,1995
109,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,313,4.0,1105354580,medium rating,1995

In [ ]:
movis = movi_rating.set_index('movieId')

In [ ]:
movis.groupby('year').agg({'rating':'mean'}).sort_values(by="rating", ascending=False)[:10]

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
1974  3.978704
1962  3.952446
1950  3.915254
1977  3.905786
1964  3.841492

In [ ]:
print(f'{123.444:.2f}')

123.44